<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTATOO</title>
</head>
<link href="projectlist.css" rel="stylesheet">
<body>
    <div class="modal">
        <article class="sign-in-modal">
            <div class="modal-close"><img class="close-img" src="close.png"></div>
            <div class="modal-header">POTATOO</div>
                <div class="login-div">
                    <div class="login-div2"> 
                        <input type="text" name="userID" id="userID" class="input-Style">
                    </div>
                    <div class="login-div2">
                        <input type="password" name="userPW" id="userPW" class="input-Style">
                    </div>
                    <div>
                        <input id="btn-login" type="button" value="로그인" class="login-sub">
                    </div>
                </div>
        </article>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let btn = document.getElementById("btn-login");

        btn.addEventListener("click", () => {
            let userID = document.getElementById("userID").value;
            let userPW =document.getElementById("userPW").value;

            let param = { "userID": userID , "userPW" : userPW };

            //XMLHttpRequest 객체 생성
            let xhr = new XMLHttpRequest();

            //요청을 보낼 방식, url, 비동기여부 설정
            xhr.open('POST', 'http://localhost:8082/loginCheck', true);

            //HTTP 요청 헤더 설정
            xhr.setRequestHeader('Content-type', 'application/json');

            //요청 전송
            xhr.send(JSON.stringify(param));

            //Callback
            xhr.onload = function () {
                if (xhr.status == 200) {
                    let value = JSON.parse(xhr.response);

                    alert("Token : " + value.jwt);
                    alert("User Info verify : " + value.verifyJWT.data);
                } else {
                    console.log(xhr.response);
                }
            }
        });
    });

</script>
</html>
