<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potatoo</title>
</head>
<link href="projectlist.css" rel="stylesheet">
<script>
    window.onload = function () {

        let modalClick = document.querySelector(".click-login");

        modalClick.addEventListener("click", function(e) {

            let z, elmnt, file, xhttp; 

            z = document.getElementsByTagName("*");

            for (let i = 0; i < z.length; i++) {
                elmnt = z[i];
                file = elmnt.getAttribute("data-include");

                if (file) {
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            if (this.status == 200) { 
                               
                                elmnt.innerHTML = this.responseText;
                            
                                let close_img = document.querySelector(".close-img");

                                close_img.addEventListener("click", function () {
                                    location.reload();
                                });

                                document.getElementsByClassName("guest")[0].style.display = "none";
                            }
                            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                            /* Remove the attribute, and call this function once more: */
                            elmnt.removeAttribute("data-include");
                        }//if
                    }//onreadystatechange

                    xhttp.open("GET", file, true);
                    xhttp.send();
                    return;
                }//if - file
            }//for

        });
    };

</script>
<body>
    <div class="content">
        <div class="circle-container circle-container-1">
            <span class="circle"></span>
        </div>
        <div class="circle-container circle-container-2">
            <span class="circle"></span>
        </div>
        <div class="circle-container circle-container-3">
            <span class="circle"></span>
        </div>
        <div class="circle-container circle-container-4">
            <span class="circle"></span>
        </div>
        <div class="circle-container circle-container-5">
            <span class="circle"></span>
        </div>
        <div class="circle-container circle-container-6">
            <span class="circle"></span>
        </div>
        <div class="circle-container circle-container-7">
            <span class="circle"></span>
        </div>
        <div class="circle-container circle-container-8">
            <span class="circle"></span>
        </div>
        <div class="circle-container circle-container-9">
            <span class="circle"></span>
        </div>
        <div class="circle-container circle-container-10">
            <span class="circle"></span>
        </div>
        <div class="circle-central"></div>
    </div>
	
	<!-- <p class="login"><a data-include="/login" class="click-login">Login</a></p>	 -->
	<p class="guest"><a href="/login">login</a></p>
    <footer>
        <p class="inspiration">Copyrightⓒ by JunguKang</p>
    </footer>
</body>
</html>